table {
  width: 90vw;
  margin: auto;
}

tr {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  height: 7vh;

  @media screen and (max-width: 600px) {
    height: 5vh;
  }
}

td,
th {
  display: flex;
  justify-content: center;
  align-items: center;
}

th {
  font-size: 2rem;
  font-weight: 800;

  @media screen and (max-width: 600px) {
    font-size: 1.5rem;
  }
}

td {
  font-size: 1.5rem;
  @media screen and (max-width: 600px) {
    font-size: 1rem;
  }
}
